* {
  margin: 0;
  padding: 0;
  border: none;
}

::selection {
  color: inherit;
  background: none;
}

body {
  font-family: 'Syncopate', serif;
  text-transform: lowercase;
  background-color: #d66;

  h1 {
    text-shadow: black 0 0 2vw;
    color: transparent;
    position: absolute;
    width: 100%;
    font-size: 10vw;
    position: absolute;
    text-align: center;
    top: 10vh;
  }

  #containers {
    #bottle {
      background-image: url(no-lid-empty.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center 100%;

      position: absolute;
      width: 100%;
      height: 40vh;
      top: 50vh;

      #liquid {
        background-image: url(no-lid-full.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 50%;
        background-size: auto 40vh;
        background-position: center 100%;
        position: absolute;
        bottom: 0;
      }
    }

    #bottles {
      li {
        background-image: url(bottle.png);
        background-size: contain;
        display: inline-block;
        width: 2vw;
        height: 2vh;
      }
    }
  }
}
